# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-mkdir
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-install
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-gitinfo.txt
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-gitclone-lastrun.txt
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-download
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-done
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-configure
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-build
cmake-build-debug/_deps/raylib-subbuild/CMakeLists.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.json
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/raylib-populate-complete
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/cmake.check_cache
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/_deps/raylib-subbuild/CMakeCache.txt
cmake-build-debug/_deps/raylib-subbuild/cmake_install.cmake
cmake-build-debug/_deps/raylib-subbuild/build.ninja
cmake-build-debug/_deps/raylib-subbuild/.ninja_log
cmake-build-debug/_deps/raylib-src/
cmake-build-debug/_deps/raylib-build/raylib/raylib.pc
cmake-build-debug/_deps/raylib-build/raylib/raylib-config-version.cmake
cmake-build-debug/_deps/raylib-build/raylib/include/rlgl.h
cmake-build-debug/_deps/raylib-build/raylib/include/raymath.h
cmake-build-debug/_deps/raylib-build/raylib/include/raylib.h
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/src/glfw3ConfigVersion.cmake
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/src/glfw3Config.cmake
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/src/glfw3.pc
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/src/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/raylib/CTestTestfile.cmake
cmake-build-debug/_deps/raylib-build/raylib/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/CTestTestfile.cmake
cmake-build-debug/_deps/raylib-build/cmake_install.cmake
cmake-build-debug/.ninja_log
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ab7b74ef78e1f7de132c.json
cmake-build-debug/.cmake/api/v1/reply/target-update_mappings-Debug-747aba60132a79f24387.json
cmake-build-debug/.cmake/api/v1/reply/target-raylib-Debug-cbbed03e61a697fc6420.json
cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-d73cb8c5450c39ff1986.json
cmake-build-debug/.cmake/api/v1/reply/target-Block_Kuzushi-Debug-105e6424d67048241e13.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-01-20T11-02-48-0347.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib.external.glfw.src-Debug-aba5195d07495b7ecdc1.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib.external.glfw-Debug-c47ebf252375fab437d0.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.raylib-build.raylib-Debug-552f6d5df11d89e56ee0.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.raylib-build-Debug-3b07fda7c44a1cc3f484.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4565b4cc6f8df1787e32.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-4e8c4547ccbfb6ed79c6.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-36da61d677710c9e57e6.json
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/editor.xml
.idea/BlockKuzushi.iml
.idea/.name
